/* Desktop*/
@media only screen and (min-width : 1080px){
	nav{
		padding:0 calc(50vw - 608px);
		justify-content: space-between;
	}
	nav .main-nav{
		width:calc(50% + 16px);
		justify-content: space-between;
		order:2;
		padding:8px 0;
	}
	nav .tabs{
		order:1;
		width:auto;
	}

	.mobile-nav{
		display: none;
	}
	aside{
		display: flex;
	}
	aside, main{
		padding-top: 64px; 
	}

	.post-link{
		width:100%;
	}
}