:root {
	font-family: 'Roboto';
	font-weight: 400;
	color: #333;
	font-size: 16px;
}

::selection {
	background-color: #F16667;
	color: white;
}

*{
	transition: 0.1s;
}
em, i{
	transition: none;
}

html,
body,
#root {
	max-width: 100vw;
	min-height: 100vh;
	background-color: #F2F2F2;
}

a {
	text-decoration: none;
	color: #333;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.card {
	margin-bottom: 8px;
	border-radius: 8px;
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.light {
	text-align: center;
	font-size: 12px;
	color: #A7A7A7;
	padding: 8px;
}

h2 {
	margin: 0;
	font-size: 16px;
	font-weight: 700;
}

.round-top {
	border-radius: 8px 8px 0 0;
}

.round-bottom {
	border-radius: 0 0 8px 8px;
}

.round-left {
	border-radius: 8px 0 0 8px;
}

.round-right {
	border-radius: 0 8px 8px 0;
}

.no-radius {
	margin: 0;
	border-radius: 0;
}

.no-radius p {
	margin: 0;
	padding: 8px 0;
}

nav {
	z-index: 999;
	width: 100vw;
	display: flex;
	position: fixed;
	flex-wrap: wrap;
	justify-content: flex-start;
	background-color: white;
	box-sizing: border-box;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

nav .main-nav {
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-content: center;
	padding: 16px;
}

nav img {
	max-height: 32px;
	cursor: pointer;
}

.search-form {
	display: flex;
}

.search {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 16px;
	background-color: #F2F2F2;
	padding: 4px 12px;
	color: #6D6D6D;
	border-radius: 16px;
	font-size: 14px;
}

.search input {
	border: none;
	outline: none;
	background-color: transparent;
	margin-left: 8px;
	color: #6D6D6D;
}

.tabs div {
	width: 100vw;
	display: flex;
	flex-direction: row;
}

.tabs a {
	width: 33.3333%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 16px 16px 12px 16px;
	font-weight: 700;
	color: #6D6D6D;
	text-decoration: none;
	border-bottom: solid 4px transparent;
}

.tabs a.active,
.tabs a:hover {
	color: #F16667;
	border-bottom: solid 4px #F16667;
}

.mobile-nav {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	width: 80vw;
	height: 100vh;
	background-color: white;
	margin: 0;
	padding: 16px;
	box-shadow: 0 3px 16px rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-left: -100vw;
	transition: 0.2s;
}

.mobile-nav.active {
	margin-left: 0;
}

.mobile-nav h2 {
	padding: 16px 0;
	border-bottom: solid 1px #DDD;
	margin-bottom: 16px;
}

.mobile-nav img {
	margin: 0;
}

header {
	display: none !important;
}

#root>div {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: center;
	align-items: flex-start;
}

main {
	margin: 0 4px;
	width: 720px;
}

main,
aside {
	padding-top: 124px;
}

aside {
	display: none;
	margin: 0 4px;
	width: 240px;
}

aside.sidebar {
	flex-direction: column;
}

aside .header {
	z-index: 1;
	height: 90px;
	position: relative;
	border-radius: 8px 8px 0 0;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user {
	z-index: 2;
	padding: 16px;
}

.user h2 {
	margin: 0;
	padding-bottom: 8px;
}

.user h2 a:hover {
	color: #4D9FB4;
}

.user .description {
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	padding-bottom: 16px;
	color: #6D6D6D;
}

.stats{
	font-size: 14px;
}

.user .stats {
	border-top: solid 1px #F2F2F2;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 16px 0;
}

.user .stats em {
	font-style: normal;
	font-weight: 700;
}

aside img {
	border-radius: 50%;
	width: 64px;
	height: 64px;
	margin-top: -44px;
	border: solid 4px white;
}

.action-btn {
	display: block;
	padding-top: 8px;
	font-size: 14px;
	font-weight: 300;
	color: #4D9FB4;
	text-align: center;
	border-top: solid 1px #F2F2F2;
}

aside .links {
	padding: 16px;
}

aside .secondary-links {
	padding-top: 16px;
}

aside .secondary-links li {
	padding-bottom: 16px;
}

aside .secondary-links a {
	color: #333333;
}

aside .primary-links li {
	padding-top: 8px;
	padding-bottom: 24px;
}

aside .primary-links a {
	font-weight: 500;
	color: #6D6D6D;
}

aside li a:hover {
	color: black !important;
}

.nightmode {
	color: #376F7F;
	padding: 16px 0;
	border-bottom: solid 1px #eee;
	border-top: solid 1px #eee;
	display: block;
}

.nightmode i {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #376F7F;
}

.nightmode:hover i {
	-webkit-text-fill-color: #376F7F;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: transparent;
}

aside i {
	margin-right: 16px;
}

.logout {
	color: #F16667 !important;
}

.post {
	display: flex;
	flex-direction: row;
	max-height: 150px;
}

.post:hover {
	background-color: #eee;
}

.thumbnail-link {
	display: block;
	height: 100%;
	width: 33%;
}

.post-thumbnail {
	position: relative;
	border-radius: 8px 0 0 8px;
	width: 100%;
	height: 150px;
	background-position: center;
	background-size: cover;
}

.overlay {
	position: absolute;
	background-color: transparent;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .2s;
}

.overlay:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.overlay:hover i {
	color: white;
	font-size: 48px;
}

.overlay i {
	color: transparent;
	font-size: 40px;
	transition: .2s;
}

.post-link {
	display: flex;
	width: 67%;
	height: 150px;
	align-items: stretch;
}

.post-body {
	padding: 16px 8px 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.post h2,
.post h3 {
	margin: 0;
}

.post h2 {
	font-weight: 700;
	font-size: 16px;
}

.post h2 i {
	margin-right: 8px;
}

.post .explicit {
	margin-left: 8px;
	color: #F16667;
	font-size: 14px;
	font-weight: 300;
	border: solid 1px #F16667;
	padding: 2px 4px;
	border-radius: 4px;
}

.post h3 {
	padding-top: 4px;
	font-size: 14px;
	font-weight: 400;
	color: #6D6D6D;
}

.post p {
	margin: 8px 0;
	font-size: 12px;
	color: #A7A7A7;
}

.post .author a {
	color: #F16667;
}

.author i,
.profile h2 i {
	margin: 0 4px 0 2px;
	font-size: .75em;
}

.options {
	float: right;
	padding: 0 8px;
	color: #333;
	cursor: pointer;
	margin-top: 8px;
}

.options i {
	float: right;
	cursor: pointer;
}

.options input[type=checkbox] {
	display: none;
}

.options input[type=checkbox]:checked+.option-list {
	display: block;
}

.options .option-list {
	font-weight: 500;
	user-select: none;
	display: none;
	cursor: pointer;
	text-transform: uppercase;
	top: 32px;
	left: 8px;
	background-color: #DDD;
	padding: 12px;
	box-sizing: border-box;
	position: relative;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.option-list::before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 11px 8px;
	border-color: transparent transparent #DDD transparent;
	top: -10px;
	right: 4px;
}

.timestamp::before {
	content: 'â—';
	margin: 0 8px;
	color: #A7A7A7;
	font-size: 8px;
	font-weight: 300;
}

.timestamp {
	color: #6D6D6D;
	font-size: 12px;
	font-weight: 300;
}

.comment-thread {
	padding: 8px 16px;
	box-sizing: border-box;
}

.comment {
	box-sizing: border-box;
	padding-left: 16px;
	border-left: solid 3px #F16667;
}

.comment p {
	margin: 8px 0;
}

.subcomment-thread {
	padding: 8px 0 8px 24px;
	box-sizing: border-box;
}

.subcomment {
	margin-top: 8px;
	padding-left: 16px;
	border-left: solid 3px #ccc;
}

.actions {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
}

.actions span {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex: 1;
	font-size: 14px;
	color: #A7A7A7;
	cursor: pointer;
	border-right: solid 1px #ccc;
	padding: 8px 0;
	transition: .2s;
}

.actions span:last-of-type {
	border-right: none;
}

.actions i {
	margin-right: 8px;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #A7A7A7;
}

.liked{
	color:#F16667 !important;
}
.liked i{
	-webkit-text-fill-color: #F16667 !important;
	-webkit-text-stroke-color: #F16667 !important;
}

.post.detail:hover {
	background-color: white;
}

.post.detail .post-body {
	width: 67%;
	height: 150px;
}

.error-page a {
	display: block;
	font-size: 14px;
	color: #4D9FB4;
}

.error-page a:hover {
	font-size: 14px;
	color: #F16667;
}

.comment-form form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

form textarea {
	box-sizing: border-box;
	min-height: 75px;
	width: 90%;
	max-width: 90%;
	padding: 16px;
	border: none;
	outline: none;
	border-radius: 8px;
	border-left: solid 3px #4D9FB4;
}

form button {
	cursor: pointer;
	width: 10%;
	background-color: transparent;
	border: none;
	outline: none;
	color: #4D9FB4;
}

.subcomment-form {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	margin: 8px 0;
	border-radius: 8px;
}

.subcomment-form textarea {
	padding: 8px;
	min-height: 40px;
	height: 40px;
	transition: .1s;
}

.subcomment-form textarea:focus {
	height: 80px;
}

.card.login,
.card.settings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card.login form,
.card.settings form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 16px;
}

.card.login input,
.card.settings input {
	margin: 8px;
	outline: none;
	border: none;
	background-color: #eee;
	padding: 8px;
	border-radius: 8px;
}

.card.login input[type=submit],
.card.settings input[type=submit] {
	box-sizing: border-box;
	transition: .2s;
	text-transform: uppercase;
	font-weight: 600;
	color: #6D6D6D;
	padding: 8px 16px;
	border-right: solid 2px #F16667;
	border-bottom: solid 2px #F16667;
	cursor: pointer;
}

.card.login input[type=submit]:hover,
.card.settings input[type=submit]:hover {
	border: solid 1.5px #A7A7A7;
}

.kep-login-facebook.metro{
	width:100%;
	padding:10px;
	font-size: 14px;
	margin-top: 16px;
}

.card.settings {
	color: #6D6D6D;
}

.settings label {
	padding: 16px 0;
}

.settings label,
.settings textarea {
	width: 100%;
}

.settings .image-upload {
	background-color: #F2F2F2;
	cursor: pointer;
	padding: 16px;
	border: dashed 1px #6D6D6D;
	border-radius: 8px;
}

.settings .image-preview {
	width:128px;
	height:128px;
	border-radius: 50%;
}

.login a {
	color: #4D9FB4;
}

.login img {
	padding: 32px 16px;
	max-width: 164px;
}

.banner {
	height: 90px;
	background-size: cover;
	background-position: center;
}

.profile .stats span {
	flex: 1;
	text-align: center;
	border-bottom: solid 1px #F2F2F2;
	padding: 8px;
}

.profile .stats {
	border-top: none;
	padding-top: 0;
}

.profile img {
	box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
	margin: 0 16px;
	border-radius: 50%;
	width: 94px;
	height: 94px;
	margin-top: -64px;
}

.playlists {
	padding: 16px;
}

.playlists h2 {
	margin-bottom: 16px;
}

.playlist-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 16px 0;
	cursor: pointer;
}

.playlist-item p,
.playlist-item h3 {
	margin: 0;
}

.playlist-item h3 {
	font-size: 16px;
}

.playlist-item p {
	color: #6D6D6D;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 256px;
	white-space: nowrap;
}

.playlist-item img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 16px;
}

.playlist {
	padding: 16px;
	color: #6D6D6D;
}

.playlist-header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
}

.playlist-header .content {
	z-index: 10;
	color: black;
	padding: 24px;
}

.playlist-header:before {
	z-index: 1;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom, transparent, white);
}

.playlist-header img {
	height: 94px;
	width: 94px;
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
	margin: 16px 0 8px;
}

.playlist-header a {
	color: #F16667;
}

.playlist-header p,
.playlist-header h2 {
	text-align: center;
	margin: 0;
}

.playlist p {
	margin-top: 0;
}

.browse {
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.results {
	padding: 16px;
}

.settings {
	padding: 16px;
}

.settings textarea {
	background-color: #eee;
	border-radius: 8px !important;
	height: 128px;
	border: none;
}

.settings input[type=text] {
	width: 85%;
}

.settings .nightmode {
	border: none !important;
}

.subtabs {
	margin-bottom: 0;
}

.subtabs div {
	width: 100%;
}

.hidden {
	display: none;
}

.privacy-policy {
	padding: 16px;
}

.new-playlist{
	color:#4D9FB4;
	padding:16px 0;
	margin:8px 0 16px;
	cursor: pointer;
	border-top: solid 1px #F2F2F2;
	border-bottom: solid 1px #F2F2F2;
}
.new-playlist i{
	margin-right: 16px;
}
.delete {
	cursor: pointer;
	color:#F16667;
}


.spinner {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}

.spinner>div {
	background-color: #F16667;
	height: 100%;
	width: 6px;
	display: inline-block;
	margin: 0 1px;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4)
	}
	20% {
		-webkit-transform: scaleY(1.0)
	}
}

@keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}